<!DOCTYPE html>
<html><head><title>Text to appear in Browser title bar goes here</title>



  

    
    <link rel="stylesheet" href="css/layout-divs.css" type="text/css"></head><body>

    <!--Text or images to display in Browser window go after this opening body tag.-->

    <div id="container">

      <div id="banner">
      BANNER CONTENT HERE 
      </div><!--banner ends-->
      
      <div id="nav">
      NAVIGATION LINKS HERE
      </div><!--nav ends-->

      <div id="sidebar">
      ALTERNATIVE NAVIGATION HERE
      </div><!--sidebar ends-->

      <div id="maincontent">
      MAIN <a href="#" target="_blank">CONTENT</a> HERE
      </div><!--maincontent ends-->

      <div id="footer">
      FOOTER CONTENT HERE
      </div><!--footer ends-->

    </div><!--container ends-->

</body></html>